# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List Popular languages for Data Science
- Understand the use of common data science libraries
- Perform data manipulation and analysis
- Create and interpret data visualizations
- Develop and evaluate machine learning models

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Python
    1. NumPy
    2. Pandas
    3. Scikit-learn
2. R
    1. ggplot2
    2. dplyr
    3. caret

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This a simple arithmetic expression to mutiply then add integers.
x = (3*4)+5
print(x)

17

In [3]:
#This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Louisa Siauw